{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid">


    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Welcome</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur, beatae consectetur dolores eius ex excepturi, facilis fugit labore necessitatibus nesciunt non officiis quia quod reiciendis sapiente similique. Illo, incidunt!</p>
        </div>
    </div>

    <div class="card-deck">

        {% for store in stores %}
            <div class="card">
                <img class="card-img-top" src="{{ store.images[0].path }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ store.name }}</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam, doloribus illo mollitia non optio vel? Animi commodi dicta dignissimos eligendi, iusto molestiae nulla provident quia quisquam rem, temporibus velit.</p>
                    <p class="card-text"><small class="text-muted">Promotion</small></p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
